<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <img src="../../../assets/images/logo-sheraton-header.png" alt="hotel-logo"/>
    </div>

    <div class="">
      <ul class="nav navbar-nav">
        <li ng-class="{active: vm.menu ==='dashboard'}"><a href="/dashboard">Dashboard</a></li>
        <li class="dropdown">
          <a class="btn menulink" data-toggle="dropdown">
            Requests <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/open-requests">Open Requests</a></li>
            <li><a href="/closed-requests">Closed Requests</a></li>
            <li><a href="/assigned-requests">Assigned Requests</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
